body {
    background-image: url("odzadje.svg");
    background-position: center;
  }

.card{
    background-color: white;
    border-radius: 7;
}

h1{
    color: blue;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .checkbox-container {
    margin-bottom: 8px;
  }